@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* 👕 Font Families */
  --font-body: "Roboto", sans-serif;

  /* 🎨 Brand Colors */
  --color-primary: #1e40af;
  --color-secondary: #f97316;
  --color-bg: #eefdff;
  --color-gray-bg: #fafafa;
  --color-default-text: #003a6b;
  --color-hover-text: #305cde;
  /* --color-hover-text: #3776A1; */
  --color-success: #10b981;
}

/* .dark @layer base {
  :root {
    --color-bg: #1f2937;
    --color-text-default: #f3f4f6;
  }
} */

.homePageTableHeader .ant-table-thead .ant-table-cell {
  background-color: #0f4c81;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.5;
}

/* .ant-pagination-item-active,
.ant-pagination-item-active a {
  background-color: white !important;
  border-color: #0050b3 !important;
  color: #0050b3 !important;
} */
